@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth !important;
}
h1,h2,h3,h4,h5,h6,p,a {
    font-family: 'Open Sans', sans-serif !important;
}

.navbar {
    padding: 1rem 3rem;
    }

.nav-container {
    display: flex !important;
    justify-content: space-between !important;
}

.navbar .nav-link{
    color: #000;
    text-decoration: none;
    display: inline-block;
    padding: 1rem;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    transition: .3s ease-in-out;
}


.navbar .nav-link:hover{
    color: rgba(12, 88, 230, 0.719);
}

.navbar h1 {
    font-size: 28px;
    font-weight: 400;
}

/* ending navbar  */

/* starting hero section  */

.hero {
    height: 60vh;
    width: 100%;
    background: url('./images/hero.jpg') no-repeat right;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-text {
    width: 50%;
}
 h1{
    font-size: 40px;
    font-weight: 500;
}

p {
    font-size: 14px;
    color: rgb(109, 108, 108);
    font-weight: 500;
}

.btns{
    border: 1px solid red;
    padding: 1rem 2rem;
    border-radius: 30px;
    display: inline-block;
    background: #4285f4;
    border:1px solid #4285f4;
    color: #fff;
    font-size: 14px;
    outline: none;
    margin: 20px 0;
    cursor: pointer;
    box-shadow: 0 0 5px #4285f4;
    transition: .4s ease;
}
.btns:hover{
    box-shadow: 0 0 15px #4285f4;
}

/* features section  */
.feature-text {
    padding:2rem 20rem;
    text-align: center;
}

.column {
    margin: 30px 0 !important;
} 

.card {
    margin:20px;
    background: #f1f1f1 !important;
    border: none !important;
    border-radius: 15px;
    height: 100%;
    transition: .3s ease-in-out;
}

.card:hover {
    background: #4285f4 !important;
    color: #fff;
    transform: translateY(-8px);
    box-shadow: 0 0 15px #f1f1f1 !important;
}

.card:hover p {
    color: #fff;
}
/* ending features section */

/* starting communication  */
.communication {
    padding: 3rem 0;
}
.fix-size {
    width: 100%;
    height: auto;
}
.com-text {
    margin: 60px 0;
}
.com-box {
    height: 100%;
    width: 100%;
    border: 1px solid #444;
    border-left: 5px solid #4285f4;
    border-radius: 15px;
    padding: 1rem;
}
/* ending communicatin  */


/* starting about section  */
.about {
    padding: 3rem;
    background: #f1f1f1;
}
.about-text{
    margin: 30px 0 ;
    padding: 2rem;
}
.list-group-item {
    background: transparent !important;
}
/* ending about section  */

/* starting testimonial  */
.testimonial {
    padding: 4rem;
}
.item {
    text-align: center;
}
.item p {
    font-size: 18px;
    color: #999;
    font-weight: 500;
}
.item p strong {
    display: block;
    margin:20px 0 ;
}
/* ending testimonial  */

/* starting contact  */
.contact {
    padding: 2rem;
    background: linear-gradient(to right, #4286f4 0%, #42e2f4 100%);
}
.form {
    background: #fff;
    padding: 3rem 2rem;
    border-radius: 10px;
}
.form-col {
    margin: 10px 0;
}
/* ending contact  */


/* startgin responsive  */

@media(max-width:768px){
    body h1 {
        font-size: 28px;
    }
    body h2 {
        font-size: 22px;
    }
    .feature-text {
        padding: 2rem 10rem;
    }
    .column {
        margin: 10px 0 !important;
    }
    .com-text {
        margin: 25px 0;
    }
    .about-text {
        margin: 15px 0;
        padding: 1rem;
    }
}
@media(max-width:767px){
    .hero {
        height: 85vh;
    }
}
@media (max-width: 575px){
    .feature-text {
        padding: 2rem 6rem 1rem;
    }
}
@media (max-width: 525px){
    .hero-text {
        background: rgba(0,0,0,0.2);
        backdrop-filter: blur(10px);
        border-radius: 10px;
        padding: 1rem;
        color: #fff;
    }
    .hero-text p {
        color: #fff;
    }
}
@media (max-width: 475px){
    .hero {
        height: 55vh;
    }
    .btns {
        padding: .5rem 1.5rem;
    }
}
@media (max-width: 425px){
    .hero-text {
        width: 60%;
    }
    body h1 {
        font-size: 22px;
    }
    body h2 {
        font-size: 18px;
    }
    .form {
        background: #fff;
        padding: 3rem 1rem;
    }
    .about {
        padding: 1rem;
    }
}
@media (max-width: 375px){
    .hero {
        background-position: 32px center;
    }
    .feature-text {
        padding: 2rem 3rem 1rem;
    }
}
/* ending responsive  */